{% set dash_active = 'settings' %}
{% extends '@dashboard/layouts/base.twig' %}

{% block title %}Edit: {{ setting.setting_key }}{% endblock %}
{% block content_title %}Edit setting{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ uri('admin.dashboard') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ uri('admin.settings') }}">Settings</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
{% endblock %}

{% block body %}
    <div class="card">
        <form action="{{ uri('admin.settings.update', {id: setting.id}) }}" method="POST">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">

            <div class="card-body">
                {% include '@settings-manager/settings/_form.twig' with {
                    setting: setting,
                    form_value: old.setting_value|default(form_value)
                } %}
            </div>

            <div class="card-footer d-flex justify-content-between align-items-center">
                <a href="{{ uri('admin.settings') }}" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-primary ms-auto">Save</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/components/settings-manager/js/settings-form.js"></script>
{% endblock %}
